body{
  background-color: black;
}
.header{
  background-color: antiquewhite;
}

.text{
  font-size: 30px;
  text-align: left;
  gap: 90px;
}

.log-out{
  text-align: left;
  position: relative;
  top: -40px;
  left: 1250px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  padding: -80px;
  cursor: pointer;
  
}
.category {
  border: none;
  display: flex;
  flex-direction: column;
  width: 10%;
  align-self: stretch;
  box-sizing: border-box;
  gap: 10px;
  margin-top: 100px;
  border: none;
  
}
.category > button{
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  font-size: 15px;
  margin-bottom: 10px;
  height: 45px;
  
}

.balance{
  display: none;
}

.button{
  display: flex;
  flex-direction: row;
  text-align: left;
}
.update-income{
 
  margin-top: -300px;
  text-align: center;
  align-self: stretch;
  height: 30px;
  color: white;
  margin-bottom: 50px;  
}
.input{
  height: 30px;
  width: 175px;
  align-self: stretch;
}
.add-expenses{
  margin-top: 30px;
  text-align: center;
  align-self: stretch;
  height: 45px;
  gap: 100px;
  color: white;
  margin-bottom: 150px;
  
  

}
.Saving{
  margin-top: 30px;
  text-align: center;
  align-self: stretch;
  height: 45px;
  gap: 100px;
  color: white;
  margin-top: 100px;

}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
